<div id="sidebar">
	<ul id="sidebar-nav">
		<li>Welcome <%= currentUser.userName %></li>
		<li><a href="/<%= currentUser.userName %>/dashboard/true">Dashboard</a></li>
		<li><a href="/<%= currentUser.userName %>/profile/true">My Profile</a></li>
		<li><a href="/auth/logout" class="btn">Logout</a></li>
	</ul>
</div>