<main>
	<%- include('../partials/userSidebar') %>
	
	<div id="main-wrapper">
		
		<div class="bg-white1 shadow-sm p-3">
			<span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
			<h5 class="m-0 color-theme d-inline-block">Dashboard</h5>
		</div>
		<div class="container text-center mt-2">
			<div class="row align-items-center">
			  <div class="col-md-4">
				<div class="parent">
					<div class="door"></div>
				<div class="card" id="dash">
				  <div class="card-body">
					<h5 class="card-title">Test Your General Knowledge</h5>
					<p class="card-text">Test your general knowledge with this fun puzzle game!</p>
					<a class="btn btn-dark" href="/<%= currentUser.userName %>/description/1">Go to Door1</a>
				  </div>
				  </div>
				</div>
			  </div>
			  <div class="col-md-4">
				<div class="parent">
					<div class="door"></div>
				<div class="card" id="dash">
				  <div class="card-body">
					<h5 class="card-title">Test Your Vocabulary and Language Skills</h5>
					<p class="card-text">Test your vocabulary and language skills with this fun jumble word puzzle!</p>
					<a class="btn btn-dark" href="/<%= currentUser.userName %>/description/2">Go to Door2</a>
				  </div>
				</div>
				</div>
			  </div>
			  <div class="col-md-4">
				<div class="parent">
					<div class="door"></div>
				<div class="card" id="dash">
				  <div class="card-body">
					<h5 class="card-title">Test Your Ability to Recognize Colors</h5>
					<p class="card-text">Test your ability to recognize colors with this fun and challenging game!</p>
					<a class="btn btn-dark" href="/<%= currentUser.userName %>/description/3">Go to Door3</a>
				  </div>
				</div>
				</div>
			  </div>
			</div>
		  </div>
					
	</div>
</main>