<main>
	<%- include('../partials/userSidebar') %>
	
	<div id="main-wrapper" class="container mt-2">
		<span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
		<h1 class="text-center">Jumble Word Puzzle</h1>
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<p class="text-center">Test your vocabulary and language skills with this fun jumble word puzzle! There are 5 jumbled words for you to unscramble, and each word has a hint button that reveals the meaning of the word when clicked. You can use the hint buttons if you're stuck, but use them wisely as they are limited!</p>
				<p class="text-center">Once you feel like you can't solve any more words or you have unscrambled all the words, you can click on the "Get Results" button to see your final score. Your score will be displayed, and you can click on the "Submit" button to send it to the server.</p>
				<p class="text-center">Please note that once you click on the "Get Results" button, your score won't change anymore, so make sure to click it only when you are done with the game. Good luck!</p>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-md-8 offset-md-2 text-center">
				<a href="/<%=currentUser.userName%>/game/2" class="btn btn-primary">Play Game</a>
			</div>
		</div>
	</div>
</main>
