<main>
	<%- include('../partials/userSidebar') %>
	
	<div id="main-wrapper" class="container mt-2">
		<span class="me-3 bg-white px-2" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
		<h1 class="text-center bg-white">Color Recognition Game</h1>
		<div class="row">
			<div class="col-md-8 offset-md-2 bg-white">
				<p class="text-center">Test your ability to recognize colors with this fun and challenging game! The screen will display a word, where the word itself represents a typical color, for example, "Black", and its foreground color is different from the word, for example, the foreground color of "Black" is "Orange". You have to identify the foreground color of the word and type it in the input box.</p>
				<p class="text-center">You have 30 seconds to answer as many questions as you can. After 30 seconds, your score will be shown, and you can click on the "Submit" button to send it to the server.</p>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-md-8 offset-md-2 text-center">
				<a href="/<%= currentUser.userName %>/game/3" class="btn btn-primary">Play Game</a>
			</div>
		</div>
	</div>
</main>
