<main id="welcome">
<div class="mt-2 w-100">
<div class="container text-center w-70 bg-white">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to 3-Door Choice</h1>
            <p class="lead">Test your soft skills with three engaging puzzles that challenge your General Awareness, Vocabulary skills, and Ability to recognize colors. Each puzzle is hidden behind one of the three doors. Can you solve them all and come out on top?</p>
            <p>These puzzles are designed to help you analyze your capabilities in different areas and improve your skills. Sharpen your mind, enhance your cognitive abilities, and have fun while playing!</p>
            <p>Put your skills to the test and play now!</p>
            <p>Sign-up Now!! at the Top Right to start playing!!</p>
        </div>
    </div>
</div>
</div>
</main>